@model WebApplication12.Models.ViewModel.ForgotPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/datepicker3.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">Forgot Password</div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(Model => Model.email, new { @class = "form-control", @placeholder = "Enter Email", @autofocus = "", @autocomplete = "false" })

                                </div>

                                <input type="submit" value="Send Password" class="btn btn-primary" />
                                <b> @ViewBag.Message</b>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div><!-- /.col-->
        </div>
    }

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
